<br>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link disabled" href="/">Seu diário</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="/cad">Escrever</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/sobre">Sobre</a>
    </li>
</ul>
<br><br>
<h1 class="display-4 d-flex justify-content-center text-info">Journa.ly</h1>
<br><br><br>

<h2 class="text-warning">Qual a importância de se ter um diário?</h2>
<br>
<p class="lead"> &nbsp;&nbsp;&nbsp; Manter um diário pode ser uma ferramenta valiosa para o <strong class="text-info">autodesenvolvimento</strong>, a reflexão e o
    bem-estar emocional. No entanto, é importante lembrar que <strong class="text-info">não existe uma maneira "certa" de manter um diário</strong>; o que
    funciona para uma pessoa pode não funcionar para outra. O mais importante é encontrar um método e uma rotina que
    sejam <strong class="text-info">significativos e benéficos</strong> para você.</p>
<br><br>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://media.newyorker.com/photos/5f282f6636a71d20f7dd4761/16:9/w_2800,h_1575,c_limit/Waldman-ReflexivityTrap.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Auto-reflexão e autoconhecimento</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn1.careeraddict.com/uploads/article/60131/medium-choosing-a-career-self-awareness.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Definição e acompanhamento de objetivos</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.sanity.io/images/rrlpe8vr/production/1314eef455f1adf7120500b1f568317bf5ef708e-2000x1180.jpg?auto=format" alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Desenvolvimento da disciplina</p>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <br> <br>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.success.com/wp-content/uploads/2020/02/Unlocking-the-Power-of-Self-Awareness-1024x682.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Hábito de gratidão</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://media.istockphoto.com/id/1359879029/vector/hybrid-team-colleagues-with-distant-online-video-call-tiny-person-concept-business-project.jpg?s=612x612&w=0&k=20&c=jxI1EWCEy7kQuyUTq_SojU0hGP2KYcdoGF-4HmLd8WY=" alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Melhora a escrita e a comunicação</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://media.licdn.com/dms/image/C4D12AQEeYq2lTgcBlw/article-cover_image-shrink_720_1280/0/1617671422170?e=2147483647&v=beta&t=H55SWIMmwaTwDmbPGE2nznCgrU2r5I38VPUbOOK9t4g" alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Expressão emocional</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>

<h2 class="text-warning">Como começar a escrever?</h2>
<br>
<p class="lead"> &nbsp;&nbsp;&nbsp; Começar a escrever um diário é um <strong class="text-info">processo muito pessoal e único</strong> para cada um. Mas aqui vão algumas dicas:</p>
<br><br>
<ul class="list-unstyled">
  <li class="media">
    <img class="mr-3" src="https://cdn-icons-png.flaticon.com/512/864/864685.png" height="35px" alt="livro">
    <div class="media-body">
      <h5 class="mt-0 mb-1 text-info">Escolha um Diário e Caneta</h5>
      <p class="lead">O ato de escolher um diário bonito e uma caneta que você gosta pode ser um grande incentivo para começar a escrever. Há algo poderoso sobre a tangibilidade de escrever em papel, embora diários digitais também sejam uma opção.</p>
    </div>
  </li>
  <li class="media my-4">
    <img class="mr-3" src="https://i.pinimg.com/originals/b5/46/3c/b5463c3591ec63cf076ac48179e3b0db.png" height="35px" alt="ponto de interrogação">
    <div class="media-body">
      <h5 class="mt-0 mb-1 text-info">Determine a Finalidade</h5>
      <p class="lead">Pergunte a si mesmo por que você quer começar um diário. Isso pode ajudar a orientar o que você escreve. Alguns diários são mais reflexivos, outros podem focar em gratidão, sonhos, viagens ou qualquer outro tema específico.</p>
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="https://cdn-icons-png.flaticon.com/512/992/992700.png" height="35px" alt="relógio">
    <div class="media-body">
      <h5 class="mt-0 mb-1 text-info">Estabeleça uma Rotina</h5>
      <p class="lead">Tente escrever no mesmo horário todos os dias. Isso pode ajudar a transformar a escrita do diário em um hábito. Não se sinta pressionado a escrever todos os dias, mas tente encontrar uma rotina que funcione para você.</p>
    </div>
  </li>
  <li class="media my-4">
    <img class="mr-3" src="https://cdn-icons-png.flaticon.com/512/2889/2889676.png" height="35px" alt="cadeado">
    <div class="media-body">
      <h5 class="mt-0 mb-1 text-info">Mantenha-o Privado</h5>
      <p class="lead">A menos que você decida compartilhar seu diário com alguém, mantenha-o em um lugar seguro. A sensação de privacidade pode encorajá-lo a ser mais aberto e honesto em suas entradas.</p>
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="https://cdn-icons-png.flaticon.com/512/842/842202.png" height="35px" alt="pessoa meditando">
    <div class="media-body">
      <h5 class="mt-0 mb-1 text-info">Não Seja Muito Rígido</h5>
      <p class="lead">Se você perder um dia, uma semana ou até um mês, não se preocupe. O diário está lá para você quando você estiver pronto.</p>
    </div>
  </li>
</ul>
<br>
<p class="lead"> &nbsp;&nbsp;&nbsp; Lembre-se de que o objetivo de um diário é  ajudá-lo a refletir, processar emoções e documentar sua vida. <strong class="text-info">Não há maneira certa ou errada</strong> de fazer isso, então encontre o que funciona melhor para você e aproveite o processo.</p>
<br><br>